.card-info {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;

    margin-bottom: 1em;
    overflow: hidden;

    border: 1px solid #d4d9dd;
}

    .card-info-header {
        background: #f8f8f8;
        padding: 9px 16px;
        font-size: 14px;
        border-bottom: 1px solid #d4d9dd;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

        .header-item {
            font-weight: 600;
        }

    .card-info-body {
        background: #ffffff;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

        .card-info-body-items {
            border-top: 0;
            border-bottom: 0;
            border-radius: 0;

            padding: 1em;
    
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;

            box-sizing: border-box;
        }

            .card-info-body-item {
                display: flex;
                flex-direction: column;
                padding-bottom: .8em;
                align-items: baseline;
                width: 100%;
                flex: 1 0 auto;
            }

                .card-info-body-item .item-label {
                    color: #aaaaaa;
                    font-size: .9em;
                    font-weight: 700;
                    width: 100%;
                    word-break: break-all;
                    word-break: break-word;
                }
                    .card-info-body-item .item-label .label-value::after {
                        content: ":";
                    }

                .card-info-body-item .item-data,
                .card-info-body-item .item-number,
                .card-info-body-item .item-currency {
                    color: #4f4f4f;
                    font-size: 1em;
                    font-weight: 700;
                    width: 100%;
                    word-break: break-all;
                    word-break: break-word;
                }

        .card-info-body-section {
            border-top: 1px solid #d4d9dd;
            padding-left: 1em;
            padding-top: .5em;
        }
            .card-info-body-section .section-title {
                font-size: .9em;
                font-weight: 400;
                color: white;
                background-color: #969696;
                padding: .2em .4em;
                border-radius: 4px;
                display: inline-block;
            }

        .card-info-body-footer {
            border-top: 1px solid #d4d9dd;
            box-sizing: border-box;

            padding: 1em;
            text-align: right;
            
            background: #f8f8f8;
            width: 100%;
        }


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .card-info-body-item {
        width: 45%;
    }
    
    .card-info-body-item--x2 { 
        width: 100%
    }
    .card-info-body-item--x3 { 
        width: 100% !important;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .card-info-body-items {
        justify-content: space-between;
    }

        .card-info-body-item {
            width: 47%;
        }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    .card-info-body-item {
        width: 31%;
    }

    .card-info-body-item--x2 { 
        width: 42%
    }
    .card-info-body-item--x3 { 
        width: 93% !important;
    }

}