.checkbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2em;
}

    .checkbox-label {
        display: block;
        text-align: left;
        font-size: .9em;
        font-weight: 600;
    }
    .checkbox-label--error {
        color: #cb4e4e;
        font-weight: 700;
    }

        .checkbox-label-optional {
            color: #959595;
            font-size: .9em;
            font-weight: 700;
        }

    .checkbox-title {
        display: inline-block;
    }

    .checkbox-input {
        margin: 8px 0 0 0;
        width: 30%;
        font-weight: 600; 
        text-align: center;
        background-color: white;
        height: 40px;
    }
    .checkbox-input--error {
        border: 1px solid #cb4e4e;
    }

    .checkbox-errors {
        margin-top: 3px;
        background-color: #cb4e4e;
        border-radius: 4px;
    }
        .checkbox-errors-list {
            color: white;
            font-size: .8em;
            list-style-type: none;
            font-weight: 700;
        }

    .checkbox-help {
        margin-top: 5px;
        color: #606060;
        font-size: .9em;
        text-align: left;
    }

        .checkbox-help ul {
            padding-left: 2em;
        }



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .checkbox--x2 {
        width: 100% !important;
    }

    .checkbox--x3 {
        width: 100% !important;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .checkbox {
        width: 47%;
        padding: .5em;
        flex-grow: 1;
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .checkbox {
        width: 31%;
    }

        .checkbox--x2 {
            width: 42% !important;
        }

        .checkbox--x3 {
            width: 93% !important;
        }
}

