.loading-wrap {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(255, 255, 255, .8);
    z-index: 2;
}

    .loading {
        width: 50px;
        height: 50px;

        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;            

        border: 5px solid #ccc;
        border-top-color: #FF6A00;
        border-radius: 100%;
    
        -webkit-animation: round 2s linear infinite;
        animation: round 2s linear infinite;
    }
@-webkit-keyframes round {
    from{ transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
@-moz-keyframes round {
    from{ transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}    
@keyframes round {
    from{ transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}     