.list-card-btns {
    width: 100%;

    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 1em;
    margin-bottom: 1.2em;
}

    .list-card-btns .title {
        width: 100%;
        border-bottom: 1px solid #a5a5a5;        
    }

        .list-card-btns .title span { 
            padding: .2em .5em;
            font-size: 1em;
            font-weight: 700;
            color: white;
            background-color: #707071;

            border-radius: 6px;
        }

    .list-card-btns .items {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;

        width: 100%;
        
    }
