.bar-main {
    background: rgba(54, 146, 231, 1);
    background: -moz-linear-gradient(top, rgba(54, 146, 231, 1) 0%, rgba(26, 116, 219, 1) 81%, rgba(26, 116, 219, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(54, 146, 231, 1)), color-stop(81%, rgba(26, 116, 219, 1)), color-stop(100%, rgba(26, 116, 219, 1)));
    background: -webkit-linear-gradient(top, rgba(54, 146, 231, 1) 0%, rgba(26, 116, 219, 1) 81%, rgba(26, 116, 219, 1) 100%);
    background: -o-linear-gradient(top, rgba(54, 146, 231, 1) 0%, rgba(26, 116, 219, 1) 81%, rgba(26, 116, 219, 1) 100%);
    background: -ms-linear-gradient(top, rgba(54, 146, 231, 1) 0%, rgba(26, 116, 219, 1) 81%, rgba(26, 116, 219, 1) 100%);
    background: linear-gradient(to bottom, rgba(54, 146, 231, 1) 0%, rgba(26, 116, 219, 1) 81%, rgba(26, 116, 219, 1) 100%);
    font-size: 1.5em;
    
    height: 2em;
    color: #FDFDFD;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    -webkit-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.48);
    box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.48);
}

    .bar-main-menu-icon {
        flex-grow: 0;
        cursor: pointer;
        align-self: center;
        padding: .45em .45em .42em .45em;
    }
    .bar-main-menu-icon--active {
        background: rgba(54, 146, 231, 1);
        border-radius: 4px;
    }
    .bar-main-menu-icon:hover {
        background: rgba(54, 146, 231, 1);
        border-radius: 4px;
    }

    .bar-main-title {
        flex-grow: 8;
        text-align: center;
        align-self: center;
        font-weight: 700;
    }

    .bar-main-user {
        flex-grow: 0;
        cursor: pointer;
        align-self: center;
        padding: .40em;
        margin-right: .3em;

        display: flex;
        align-items: center;        
    }
    .bar-main-user--active {
        background: rgba(54, 146, 231, 1);
        border-radius: 4px;
    }
    .bar-main-user:hover {
        background: rgba(54, 146, 231, 1);
        border-radius: 4px;
    }

        .bar-main-user-icon {
            display: flex;
            align-items: center;
            font-size: 1.2em;
        }

        .bar-main-user-text {
            display: none;
        }

            .bar-main-user-text-h1 {
                font-weight: 700;
            }
            .bar-main-user-text-h2 { 
                font-weight: 600;
            }

        .bar-main-user-row {
            display: none;
        }

    .bar-main-out {
        display: none;
    }

@media (min-width: 576px) {

    .bar-main-title {
        text-align: left;
        margin-left: .5em;
    }

        .bar-main-user-icon {
            margin-right: 5px;
        }

        .bar-main-user-text {
            display: inline-block;
            margin-right: 5px;
        }

            .bar-main-user-text-h1 {
                display: block;
                font-size: .8em;
            }

            .bar-main-user-text-h2 {
                display: none;
            }

        .bar-main-user-row {
            display: inline-block;
            font-size: .8em;
        }

}


@media (min-width: 768px) {

    .bar-main-title {
        flex-grow: 7;
    }

    .bar-main-user {
        flex-grow: 0;
        margin-right: .5em;
    }

    .bar-main-out {
        flex-grow: 0;
        display: inline-block;
        text-align: right;
        padding-top: .2em;
        padding-right: .3em;
        margin-right: .3em;
    }

        .bar-main-out-btn {
            border: none;
            font-family: inherit;
        
            cursor: pointer;
        
            display: inline-block;
        
            outline: none;
            position: relative;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            border-radius: 5px;
            text-decoration: none;
        
            font-size: .8em;
            padding-top: .2em;
            padding-bottom: .2em;
            padding-left: .5em;
            padding-right: .5em;
        
            background: #cb4e4e;
            color: #fff;
            box-shadow: 0 6px #ab3c3c;
            -webkit-transition: none;
            -moz-transition: none;
            transition: none;

            font-weight: 700;
        }
        
        
        .bar-main-out-btn:after {
            content: '';
            position: absolute;
            z-index: -1;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        .bar-main-out-btn:active {
            box-shadow: 0 0 #ab3c3c;
            top: 6px;
        }
        
}

@media (min-width: 1200px) {

    .bar-main {
        height: 3em;
    }

        .bar-main-menu-icon {
            padding: .45em;
            margin-left: .5em;
        }

        .bar-main-user {
            margin-right: 1em;
            padding: .50em;
        }

            .bar-main-user-icon {
                font-size: 2em;
            }

                .bar-main-user-text-h1 {
                    text-align: center;
                    display: block;
                    margin-bottom: .2em;
                }
                .bar-main-user-text-h2 {
                    text-align: center;
                    display: block;
                    font-size: .5em;
                }

            .bar-main-user-row {
                font-size: 1em;
            }

        .bar-main-out {
            margin-top: .5em;
        }
}