.select {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2em;
}

    .select-label {
        display: block;
        text-align: left;
        font-size: .9em;
        font-weight: 600;
    }
    .select-label--error {
        color: #cb4e4e;
        font-weight: 700;
    }

        .select-label-optional {
            color: #959595;
            font-size: .9em;
            font-weight: 700;
        }

.select-wrapper {
    /* border-radius: 4px; */
    width: 100%;
    margin-top: .4em;
}

    .select-wrapper .select-header {
        display: flex;
        flex-direction: row;
    }
    .select-wrapper:focus-within {
        border: 2px solid #0036D3;
    }

        .select-wrapper .select-header .search-input {
            border: 1px solid #ccc;
            border-right: 0;
            display: block;
            font-size: .9em;
            margin: 0;
            outline: 0;
            padding: 10px 20px;
            width: 100%;
            box-sizing: border-box;
        }

        .select-wrapper .select-header .btn-clear,
        .select-wrapper .select-header .btn-clear:active,
        .select-wrapper .select-header .btn-clear:focus {
            border-top: 1px solid #ccc;
            border-left: 0;
            border-bottom: 1px solid #ccc;
            border-right: 1px solid #ccc;
            background: white;

            color: #ADB5BC;
            font-size: .8em;

            align-items: center;
            text-align: center;
        }

    .select-wrapper .select-lists {
        border: 1px solid #ccc;
        border-top: 0;
        border-bottom: 0;
    }

        .select-wrapper .select-lists .list-non-selected {
            box-sizing: border-box;
            display: inline-block;
            height: 200px;
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 0px;
            vertical-align: top;
            width: 50%;

            background: #fafafa;
            border-right: 1px solid #ccc;
        }

            .select-wrapper .select-lists .list-non-selected .item.selected {
                color: #989898;
            }

            .select-wrapper .select-lists .list-non-selected .item.disabled {
                color: #989898;
                text-decoration: line-through;
            }
            .select-wrapper .select-lists .list-non-selected .item.disabled:hover {
                background: inherit;
                cursor: inherit;
            }

        .select-wrapper .select-lists .list-selected {
            box-sizing: border-box;
            display: inline-block;
            height: 200px;
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 0px;
            vertical-align: top;
            width: 50%;

            background: #fff;
        }

            /* .select-wrapper .select-lists .list-selected .item.disabled:hover {
                background: inherit;
                cursor: inherit;
            } */

            .select-wrapper .select-lists .item {
                cursor: pointer;
                display: block;
                padding: 8px 4px;

                font-size: .9em;
                border-bottom: 1px solid #ccc;
            }

            .select-wrapper .select-lists .item:hover {
                background: #ececec;
                border-radius: 2px;
            }

            .select-wrapper .select-lists .item-group {
                padding: 5px 10px;
            }

                .select-wrapper .select-lists .item-group .group-label {
                    display: block;
                    font-size: .875rem;
                    opacity: .5;
                    padding: 5px 0;
                }

        .select-wrapper .select-footer {
            display: flex;
            flex-direction: row;
        }

            .select-wrapper .select-footer .btn-select {
                border: 1px solid #ccc;
                background: #fafafa;
                z-index: 2;
                width: 50%;
            }

            .select-wrapper .select-footer .btn-deselect {
                border: 1px solid #ccc;
                border-left: 0px;
                background: #fafafa;
                padding: .5em;
                width: 50%;
            }

.select-help {
    margin-top: 5px;
    color: #606060;
    font-size: .9em;
    text-align: left;
}

    .select-help ul {
        padding-left: 2em;
    }


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .select--x2 {
        width: 100% !important;
    }

    .select--x3 {
        width: 100% !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .select {
        width: 47%;
        padding: .5em;
        flex-grow: 1;
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .select {
        width: 31%;
    }

        .select--x2 {
            width: 42% !important;
        }

        .select--x3 {
            width: 93% !important;
        }
}
