.title-main {
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    color: #626262;
}

@media (min-width: 768px) {

    .title-main {
        font-size: 2em;
        margin-top: .5em;
        margin-bottom: 1em;
    }
}