.range {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2em;
}

    .range-label {
        display: block;
        text-align: left;
        font-size: .9em;
        font-weight: 600;
    }
    .range-label--error {
        color: #cb4e4e;
        font-weight: 700;
    }

        .range-label-optional {
            color: #959595;
            font-size: .9em;
            font-weight: 700;
        }

    .range-fields {
        text-align: center;
    }

        .range-input {
            background-color: #ffffff;
            border-radius: 4px;
            background-clip: padding-box;
            border: 1px solid #ccc;
            color: #433f4a;
            line-height: 1.5;
            outline: 0;
            padding: 10px 10px !important;
            font-weight: 600;
            resize: vertical;
            transition: box-shadow .1s ease-in,border .1s ease-in;
            box-shadow: inset 0 1px 3px #ddd;
    
            margin: 8px 0 0 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            height: 40px;
            width: 100%;
        }
        .range-input:focus {
            border-color: #1d78dc;
            box-shadow: 0 0 3px 0px #1d78dc;
        }
        .range-input--error {
            border: 1px solid #cb4e4e;
        }

        .range-errors {
            margin-top: 3px;
            background-color: #cb4e4e;
            border-radius: 4px;
        }
            .range-errors-list {
                padding-left: 1em;
                color: white;
                font-size: .8em;
                list-style-type: none;
                font-weight: 700;
            }

    .range-help {
        margin-top: 5px;
        color: #606060;
        font-size: .9em;
    }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .range--x2 {
        width: 100% !important;
    }

    .range--x3 {
        width: 100% !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    .range {
        width: 47%;
        padding: .5em;
        flex-grow: 1;
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .range {
        width: 31%;
    }

        .range--x2 {
            width: 42% !important;
        }

        .range--x3 {
            width: 93% !important;
        }
}
