.card {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
    
    border: 1px solid #d4d9dd;
    border-radius: 4px;
    box-sizing: border-box;
    
    margin-bottom: 1em;

    display: flex;
    flex-direction: column;
    width: 100%;
}

    .card-header {
        background: #f8f8f8;

        padding: 10px 10px;
        border-bottom: 1px solid #d4d9dd;
        display: flex;
        justify-content: space-between;
    }

            .card-header-item .item-label {
                display: none;
            }


    .card-body {
        height: auto;
        background: #ffffff;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        flex: 1 0 auto;
        word-wrap: break-word;
    }

        .card-body-items {
            padding: 1em 1em .5em;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            box-sizing: border-box;
            justify-content: space-between;
        }

            .card-body-item {
                display: flex;
                flex-direction: column;
                padding-bottom: .8em;
                align-items: baseline;
                width: 45%;
            }
            .card-body-item--middle { 
                width: 95%
            }
            .card-body-item--big { 
                width: 95% !important;
            }

                .card-body-item .item-label {
                    color: #949494;
                    font-size: .8em;
                    font-weight: 600;
                    width: 100%;
                }
                .card-body-item .item-label::after {
                    content: ": ";
                }
                .card-body-item .item-value {
                    font-weight: 600;
                    width: 100%;
                }
                .card-body-item .item-value:link {
                    color: #3861c3;
                }
                .card-body-item .item-value:visited {
                    color: #3861c3;
                }

        .card-body-actions {
            background: #ffffff;

            text-align: center;
            padding-bottom: 1em;

            display: flex;
            justify-content: space-around;
            /* border: 1px solid red; */
        }

            .card-body-actions-item {
                width: 50%;
                /* border: 1px solid blue; */
            }

                .card-body-actions a,
                .card-body-actions button {
                    display: inline-block;
                    border: 1px solid black;
                    font-size: 1em;
                    padding-top: .5em;
                    padding-bottom: .5em;
                    padding-left: .5em;
                    padding-right: .5em;
                }

                .card-body-actions .btn-edit {
                    border: none;
                    font-family: inherit;
                    color: inherit;
                    cursor: pointer;
                    outline: none;
                    position: relative;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    transition: all 0.3s;
                    border-radius: 5px;
                    text-decoration: none;

                    background: #fcad26;
                    color: white;
                    box-shadow: 0 6px #cc8e24;
                    -webkit-transition: none;
                    -moz-transition: none;
                    transition: none;
                }
                .card-body-actions .btn-edit:after {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    transition: all 0.3s;
                }
                .card-body-actions .btn-edit:active {
                    box-shadow: 0 0 #ffe345;
                    top: 6px;
                }


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .card {
        width: 48%;
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .card {
        width: 30%;
    }

        .card-body-item .item-data .data-value {
            font-size: .9em;
        }        
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .card {
        width: 19%;
    }
}
 
/* Retina Desktops and up */
@media (min-width: 2000px)  { 

    .card-body-items {
        flex-direction: row;
        flex-wrap: wrap;
        
        justify-content: space-between;
    }

        .card-body-item {
            width: 50%;
        }

    
}

