.file {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2em;
}

    .file-label {
        display: block;
        text-align: left;
        font-size: .9em;
        font-weight: 600;
    }
    .file-label--error {
        color: #cb4e4e;
        font-weight: 600;
    }

        .file-label-optional {
            color: #959595;
            font-size: .8em;
        }

    .file-input {
        width: 100%;
        margin: 8px 0 0 0;
        display: inline-block;
        border: 1px solid #ccc;

        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        padding: 10px 10px !important;
        height: 40px;
        background-color: #ffffff;        
    }
    .file-input:focus {
        outline: none;
        background-color: rgb(250, 255, 189)
    }
    .file-input--error {
        border: 1px solid #cb4e4e;
    }

    .file-errors {
        margin-top: 3px;
        background-color: #cb4e4e;
        border-radius: 4px;
    }
        .file-errors-list {
            padding-left: 1em;
            color: white;
            font-size: .8em;
            list-style-type: none;
        }

    .file-help {
        margin-top: 5px;
        color: #606060;
        font-size: .9em;
    }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .file {
        width: 47%;
        padding: .5em;
        flex-grow: 1;
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .file {
        width: 31%;
    }

        .file--x2 {
            width: 42% !important;
        }

        .file--x3 {
            width: 93% !important;
        }    
}
