.note {
    background: #fff0;
    width: 100%;

    min-height: 5em;
    margin-bottom: 1em;
}
.note-body {
    border: 1px solid #d4d9dd;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 7px;
    background-color: #fffbdd;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.05);
}
    .note-body-data {
        margin-bottom: .5em;

        display: flex;
        flex-direction: column;
    }

        .note-body-data-label {
            font-size: .8em;
            font-weight: 700;
            margin-bottom: .2em;
            width: 100%;
            color: #9c9682;
        }
        .note-body-data-value {
            color: #735c0f;
            width: 100%;
            font-size: 1em;
            text-decoration: none;
            font-weight: 700;

            display: flex;
            align-items: center;
        }

            .note-body-data-value .icon {
                margin-right: .3em;
                font-size: .8em;
            }

.note-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: .4em;
    padding-right: .4em;
}

    .note-footer-created_date {
        color: #757575;
        font-size: .7em;
        font-weight: 700;
        word-break: break-all;
        word-break: break-word;
        text-align: left;
    }

    .note-footer-created_by {
        color: #757575;
        font-size: .7em;
        font-weight: 700;
        word-break: break-all;
        word-break: break-word;
        text-align: right;
    }