.content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    padding: 1em;
}

    .content-header {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }

    .content-body {
        display: flex;
        flex-direction: column;
    }

        .content-body .sections {
            width: 100%;   
        }

        .content-body .asides {
            width: 100%;

            display: flex;
            flex-direction: column;
            margin-bottom: 1em;
        }


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    

    .content-body .asides { 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .content-header {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .content-body {
        flex-direction: row;
        justify-content: space-between;
    }

        .content-body .sections {
            width: 74%;
        }
        
        .content-body .asides {
            width: 25%;
            padding-top: 0;

            flex-direction: column;
            justify-content: normal;
        }
}

