@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    background-size: 100% auto;
    background-color: white;
}

.wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
}

    .main {
        flex: 1 0 auto;
        background-color: #F0F2F5;
    }

        .content {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;

            padding: 1em;
        }

            .content-header {
                display: flex;
                flex-direction: column;
                margin-bottom: 1em;
            }

            .content-body {
                display: flex;
                flex-direction: column;
            }

                .content-body .forms {
                    width: 100%;   

                    /* border: 1px solid black; */
                }

                .content-body .asides {
                    /* padding-top: 1em; */

                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    margin-bottom: 1em;

                    /* border: 1px solid red; */
                }


    .footer {
        flex-shrink: 0;
        padding: 1em .5em;
        text-align: center;
        background-color: white;
        border-top: 1px solid #d4d9dd;
    }

        .footer-text-left {
            color: #454545;
            margin-bottom: .5em;
            font-size: .8em;
        }

        .footer-text-right {
            font-size: .8em;
            color: #8B9298;
        }


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    

    .content-body .asides { 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .content-header {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .content-body {
        flex-direction: row;
        justify-content: space-between;
    }

        .content-body .forms {
            width: 74%;
        }
        
        .content-body .asides {
            width: 25%;
            padding-top: 0;

            flex-direction: column;
            justify-content: normal;
        }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
