
    .record {
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
        
        border: 1px solid #d4d9dd;
        border-radius: 4px;
        box-sizing: border-box;
        
        overflow: hidden;
        margin-bottom: 1em;

        display: flex;
        flex-direction: column;
        width: 100%;
    }

        .record-header {
            background: #f8f8f8;
            font-size: .9em;

            padding: 10px 10px;
            border-bottom: 1px solid #d4d9dd;
            display: flex;
        }

            .record-header-data:first-child {
                text-align: left;
            }

            .record-header-data:last-child {
                text-align: right;
                margin-left: auto;
            }

            .record-header-data .data-label {
                display: none;
            }

            .record-header-data .data-value {
                align-items: center;
                display: flex;
                font-weight: 600;
                padding: 5px;
                border-radius: 4px;
            }            

            .record-header--default {
                color: black;
                background-color: white;
            }

            .record-header--green {
                color: white;
                background-color: #1c9a51;
            }

            /* .record-header--green {
                color: white;
                background-color: #2ac56c;
            } */

            .record-header--blue {
                color: white;
                background-color: #1d78dc;
            }

            .record-header--red {
                color: white;
                background-color: #f06060;
            }

            .record-header--gray {
                color: white;
                background-color: #696969;
            }

            .record-header--yellow {
                color: black;
                background-color: #ffe345;
            }

            .record-header--purple {
                color: white;
                background-color: #823aa0;
            }                 

        .record-body {
            height: auto;
            background: #ffffff;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            flex: 1 0 auto;
            word-wrap: break-word;
        }

            .record-body-rows {
                padding: 1em 1em .5em;

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                box-sizing: border-box;
                justify-content: space-between;
            }

                .record-body-rows-data {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: .8em;
                    align-items: baseline;
                    width: 45%;
                }
                .record-body-rows-data--middle { 
                    width: 95%
                }
                .record-body-rows-data--big { 
                    width: 95% !important;
                }

                    .record-body-rows-data .data-label {
                        color: #949494;
                        font-size: .8em;
                        width: 100%;
                    }
                    .record-body-rows-data .data-label::after {
                        content: ": ";
                    }
                    .record-body-rows-data .data-value {
                        width: 100%;
                    }
                    .record-body-rows-data .data-value:link {
                        color: #3861c3;
                    }
                    .record-body-rows-data .data-value:visited {
                        color: #3861c3;
                    }

            .record-body-controls {
                background: #ffffff;

                text-align: center;
                padding-bottom: 1em;

                display: flex;
                justify-content: space-around;
            }

                .record-body-controls a,
                .record-body-controls button {
                    font-size: 1em;
                    padding-top: .5em;
                    padding-bottom: .5em;
                    padding-left: .5em;
                    padding-right: .5em;
                }

                .record-body-controls .btn-edit {
                    border: none;
                    font-family: inherit;
                    color: inherit;
                    cursor: pointer;
                    outline: none;
                    position: relative;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    transition: all 0.3s;
                    border-radius: 5px;
                    text-decoration: none;

                    background: #fcad26;
                    color: white;
                    box-shadow: 0 6px #cc8e24;
                    -webkit-transition: none;
                    -moz-transition: none;
                    transition: none;
                }
                .record-body-controls .btn-edit:after {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    transition: all 0.3s;
                }
                .record-body-controls .btn-edit:active {
                    box-shadow: 0 0 #ffe345;
                    top: 6px;
                }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .record {
        width: 100%;
        flex-direction: row;
    }

        .record-header {
            width: 20%;
            border-bottom: none;
            border-right: 1px solid #d4d9dd;

            flex-direction: column;
            justify-content: space-around;
        }

            .record-header-data:first-child {
                text-align: center;
                margin-bottom: .5em;
            }

            .record-header-data:last-child {
                text-align: center;
                margin-left: 0;
            }

        .record-body { 
            flex-direction: row;
            flex-wrap: nowrap;
            width: 80%;
        }

            .record-body-rows {
                width: 80%;
                border-right: 1px solid #d4d9dd;
            }
                .record-body-rows-data {
                    width: 30%
                }
                .record-body-rows-data--middle { 
                    width: 60%;
                }


            .record-body-controls {
                box-sizing: border-box;
                width: 20%;
                padding: 0 1em;
                padding-bottom: .5em;
                flex-direction: column;
                justify-content: space-around;
            }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .record {
        margin-bottom: .1em;
    }

        .record-header {
            background-color: white;
            flex-direction: row;
            padding: 0;
            font-size: 1em;
            padding: 0;
            justify-content: space-between;
        }

            .record-header-data {
                margin-bottom: 0 !important;
                width: 50%;
            }

            .record-header-data:first-child {
                border-right: 1px solid #d4d9dd;
            }

                .record:first-child .record-header .record-header-data .data-label {
                    text-align: left;
                    display: block;
                    color: #949494;
                    font-size: .8em;
                    width: 100%;
                    font-weight: 600;
                    text-transform: uppercase;

                    position: absolute;
                    margin-top: -18px;
                }

                .record-header-data .data-value {
                    font-size: .9em;
                }

                .record-header--default {                    
                    display: flex;
                    padding: 10px 10px 0 10px !important;
                    width: 100%;
                    text-align: left !important;
                }

            .record-body-rows {
                flex-wrap: nowrap;
                padding: 0;
                border-right: 0;
                width: 83%;
            }
                .record-body-rows-data {
                    padding-bottom: 0;
                    border-right: 1px solid #d4d9dd;
                }
                .record-body-rows-data:last-child { 
                    border-right: none;
                }
                    
                    .record-body-rows-data .data-label {
                        display: none;
                    }

                    .record-body-rows-data .data-value {
                        box-sizing: border-box;
                        padding: 6px 10px 5px 10px !important;
                    }

                    .record:first-child .record-body .record-body-rows .record-body-rows-data .data-label {
                        display: block;
                        font-weight: 600;
                        text-transform: uppercase;
                        position: absolute;
                        margin-top: -18px;
                    }
                    .record:first-child .record-body .record-body-rows .record-body-rows-data .data-label::after { 
                        content: " ";
                    }

                    .record-body-rows-data .data-value {
                        font-size: .9em;
                    }

            .record-body-controls {
                box-sizing: border-box;
                border-left: 1px solid #d4d9dd;

                width: 17%; 
                padding: .5em 0 .9em 0 !important;
                flex-direction: row;
                /* flex-direction: wrap; */
                justify-content: space-around;
            }

                .record-body-controls a,
                .record-body-controls button {
                    height: 1.5em;
                    font-size: .8em;
                    padding-top: .7em;
                    padding-bottom: .2em;
                    padding-left: .5em;
                    padding-right: .5em;
                }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}
 
/* Retina Desktops and up */
@media (min-width: 2000px)  { 

    
}

