.text {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2em;
}

    .text-label {
        display: block;
        text-align: left;
    }

    .text-input {
        width: 100%;
        margin: 8px 0 0 0;
        display: inline-block;
        border: 1px solid #ccc;

        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        padding: 10px 20px !important;
        height: 40px;
        background-color: #ffffff;
    }
    .text-input:focus {
        outline: none;
        background-color: rgb(250, 255, 189)
    }
    .text-input--error {
        border: 1px solid #cb4e4e;
    }

    .text-help {
        margin-top: 5px;
        color: #606060;
        font-size: .8em;
    }


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .text {
        width: 43%;
        padding-right: 1.9em;
        padding-bottom: 1em;
        /* padding: .5em; */
        margin-bottom: 0;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .text {
        width: 40%;
        padding: .5em;
        flex-grow: 1;
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text {
        width: 30%;
    }
}
