.list-tables {
    margin-bottom: 1em;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: stretch;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .list-tables {
        flex-direction: row;
        justify-content: space-around;
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}