.menu-main {
    box-sizing: border-box;
    width: 16em;
    min-height: 97%;
    position: absolute;
    background: rgba(54, 146, 231, 1);
    -webkit-box-shadow: 9px 0px 14px -5px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 9px 0px 14px -5px rgba(0, 0, 0, 0.57);
    box-shadow: 9px 0px 14px -5px rgba(0, 0, 0, 0.57);

    z-index: 2;
}
.menu-main--close {
    display: none;
}
.menu-main--hide-body {
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

    .menu-main ul {
        padding: 0;
        margin: 0;
    }

        .menu-main-item {
            list-style: none;
        }

            .menu-main-item-link {
                display: block;
                padding: .8em;
                font-weight: 700;
                color: white;
                text-decoration: none;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flexbox;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
            }
            .menu-main-item-link--active {
                background: #1D78DC;
            }            
            .menu-main-item-link:hover {
                background: #1D78DC;
            }

                .menu-main-item-link-1i {
                    margin-right: .4em;
                }

                .menu-main-item-link-2i {
                    margin-left: auto;
                }

            .submenu-main {
                padding: 0;
                margin: 0;
                background: white;
            }
            .submenu-main--close {
                display: none;
            }

                .submenu-main-item {
                    list-style: none;
                }

                    .submenu-main-item-link {
                        text-decoration: none;
                        display: block;
                        padding: .5em .5em .5em 1.5em;
                        color: black;
                        font-weight: 600;
                    }
                    .submenu-main-item-link:hover {
                        background-color: #F0F2F5
                    }